
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #ee00ff;
    margin: 0;
    padding: 0;
}

.cv-container {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    border: 8px solid #be115f;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00ffc3;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    color: #000000;
}

.header .info h1 {
    margin: 0;
    font-size: 1.8em;
}

.header .info p {
    margin: 20px 0;
}

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.section {
    background-color: #4800ff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 10px solid #cb1313;
}

.section h2 {
    font-size: 1.5em;
    color: #00b3ff;
    border-bottom: 2px solid #00b3ff;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.item {
    margin-bottom: 10px;
}

.item p {
    margin: 0;
}

.item ul {
    margin: 5px 0 0 20px;
    padding: 0;
}

.item ul li {
    list-style-type: disc;
}


strong {
    font-weight: bold;
}


